@mixin before_circle {
    &::before {
        content: '';
        width: 36px;
        height: 36px;
        position: absolute;
        background: $main-color;
        border-radius: 100%;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
        z-index: -1;
    }
}

@mixin before_circle_user {
    &::before {
        content: '';
        width: 36px;
        height: 36px;
        position: absolute;
        background: $main-color;
        border-radius: 100%;
        top: 0;
        left: -80px;
        z-index: -1;
    }
}

@mixin after_circle_user {
    &::after {
        content: '';
        width: 60px;
        height: 0px;
        border: 2px solid $main-color;
        position: absolute;
        left: 0;
        bottom: -7px;

    }
}