.btn {
    height: 45px;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 26px;
    border-radius: 3px;

    // &:hover {
    //     background: $main-color;
    // }

    &:active {
        transform: translateY(2px);
        // filter: saturate(150%);
        background: $main-color;
    }

    // &:focus {
    //     background: $main-color;
    // }


}