@media (max-width: 1350px) {
    .contianer {
        max-width: 1150px;
    }

    .sidepanel {
        display: none;
    }

    .show {
        display: none;
    }
}

@media (max-width: 1200px) {
    .contianer {
        max-width: 960px;
    }

    .user {
        &__grid {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }

        &__skils {

            grid-template-columns: repeat(2, 210px);
        }

        &__skils_wrap {
            padding-left: 20px;
        }
    }

    .resume {
        &__wrap {
            grid-template-columns: repeat(2, 390px);
            column-gap: 70px;
        }
    }

    // .techno {
    //     &__grid {
    //         grid-template-columns: repeat(auto-fit, 270px);
    //         justify-content: space-between;
    //     }
    // }
    .portfolio {
        &__wrap {
            grid-template-columns: repeat(3, 280px);
            justify-content: center;

            .horizontal,
            .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }

    .contacts {
        &__grid {
            grid-template-columns: 400px minmax(370px, 1fr);
        }

        &__btn {
            font-size: 12px;
        }
    }

}

@media (max-width: 992px) {
    .contianer {
        max-width: 720px;
    }

    .user {
        &__skils {
            grid-template-columns: repeat(1, 350px);
        }

        &__grid {
            grid-template-columns: 310px 380px;
            column-gap: 30px;
        }

        &__title {
            font-size: 30px;
        }
    }



    .promo__subtitle {
        width: 400px;
        font-size: 40px;
        line-height: 50px;

    }

    .resume__wrap {
        padding: 57px 65px 60px 28px;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, auto);
    }

    .techno {
        &__grid {
            grid-template-columns: repeat(3, 1fr);

        }

        &__great-item {
            padding: 8px 9px;
        }
    }

    .portfolio {
        &__wrap {

            grid-template-columns: repeat(2, 280px);

        }
    }

    .price {
        &__grid {
            // padding: 0;
            grid-template: repeat(3, minmax(44px, auto))/repeat(2, 275px);
            justify-content: space-between;
            margin-top: 60px;
        }
    }

    .contacts {
        padding: 80px 0 70px 0;

        &__grid {
            grid-template-columns: 350px 1fr;
            column-gap: 70px;
        }

        &__trigers {
            grid-template-columns: repeat(1, auto);
            row-gap: 10px;
        }

        &__title {
            font-size: 30px;
        }

        &__form {

            margin-top: 20px;
            gap: 15px;
        }

        &__sotial {
            margin: 20px 0 20px 0;
        }

        &__input {
            margin-bottom: 20px;
            height: 40px;
        }

        &__textarea {
            margin-bottom: 15px;

            textarea {
                height: 120px;
            }

        }

        &__img {
            width: 350px;
        }
    }

}

@media (max-width: 768px) {
    .contianer {
        max-width: 560px;
    }

    .promo {
        &__subtitle {
            width: 300px;
            font-size: 30px;
            line-height: 45px;
            color: aliceblue;
        }

        &__title {
            color: aliceblue;
        }

        &__link {
            color: aliceblue;
        }
    }


    .humburger span {
        background-color: aliceblue;
    }

    .change-lang {
        top: 52px;
        right: 18px;
    }

    .user {
        padding-top: 40px;

        &__grid {
            grid-template-columns: 1fr;
            grid-template-rows: 400px;
            grid-template-areas: 'img''name''skils';
        }

        &__skils {
            grid-template-columns: repeat(2, 210px);

        }
    }

    .resume {
        padding-top: 70px;


        &__wrap {
            grid-template-columns: 500px;
            row-gap: 35px;
        }

        &__subtitle {
            font-size: 30px;
        }
    }

    .techno {
        padding-top: 10px;

        &__grid {
            grid-template-columns: repeat(2, 1fr);

        }

        &__great {
            grid-template-columns: repeat(2, 1fr);
        }

        &__subtitle {
            font-size: 30px;
        }

    }

    .portfolio {
        &__subtitle {
            font-size: 30px;
        }
    }

    .price {
        &__grid {
            // padding: 0;
            grid-template: repeat(3, minmax(44px, auto))/repeat(1, 380px);
            justify-content: center;

        }
    }

    .contacts {
        &__grid {
            grid-template-columns: 400px;
            grid-auto-rows: auto;
            row-gap: 30px;
            justify-content: center;
        }

        &__img {
            width: 100%;
        }
    }


}

@media (max-width: 576px) {
    .contianer {
        width: 320px;
        padding: 0 15px;
    }

    .promo {
        background: url('../img/bg.jpg') no-repeat 57%/cover;

        &__subtitle {

            font-size: 26px;
            line-height: 39px;
            margin-bottom: 35px;
        }
    }

    .menu__block {
        width: 250px;
        padding-left: 20px;
    }

    .menu__item {
        ul {
            padding: 0;
        }
    }

    .user {
        &__skils {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }

        &__title {
            font-size: 26px;
        }
    }

    .resume {
        &__wrap {
            padding: 57px 0px 35px 0px;
            grid-template-columns: 1fr;
        }

        &__subtitle {
            font-size: 26px;
        }
    }

    .techno {
        &__grid {
            grid-template-columns: repeat(1, 270px);
            justify-content: center;
        }

        &__great {
            padding-top: 40px;
            grid-template-columns: repeat(1, 310px);
            justify-content: center;

        }

        &__subtitle {
            font-size: 26px;
            line-height: 40px;
            margin-bottom: 60px;
        }
    }

    .portfolio {
        padding-top: 60px;

        &__wrap {

            grid-template-columns: repeat(1, 280px);

        }

        &__subtitle {
            font-size: 26px;
        }
    }

    .price {
        &__grid {
            // padding: 0;
            grid-template: repeat(3, minmax(44px, auto))/repeat(1, 300px);
            justify-content: center;

        }
    }

    .contacts {
        padding: 60px 0px 40px 0px;

        &__grid {
            grid-template-columns: 300px;
        }

        &__form {
            display: block;
        }

        &__img {
            display: none;
            height: 400px;
        }

        &__trigers {
            grid-template-columns: repeat(1, 186px);
            justify-items: center;
        }

        &__btn {
            width: 190px;
        }

    }
}