.portfolio {
    padding-top: 120px;

    &__title {
        position: relative;
        text-align: center;
        margin-bottom: 6px;
        @include before_circle;

        &::before {
            top: 10px;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    &__subtitle {
        position: relative;
        text-align: center;
        margin-bottom: 85px;
        @include after_circle_user;

        &::after {
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }

    }
}