.resume {
    padding-top: 120px;

    &__title {
        position: relative;
        text-align: center;
        @include before_circle;

        &::before {
            top: 10px;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    &__subtitle {
        position: relative;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 24px;
        @include after_circle_user;

        &::after {
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__wrap {
        padding: 60px 65px 60px 65px;
        display: grid;
        grid-template-columns: repeat(2, 417px);
        column-gap: 136px;
    }

    &__column-title {

        padding-left: 50px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: var(--color-green);
            border-radius: 100%;
            left: -7px;
            top: 50%;
            transform: translateY(-50%);

        }
    }


    ul {
        list-style-type: none;
    }

    li {
        position: relative;

        &::after {
            content: '';
            width: 1px;
            height: calc(100% + 16px);
            position: absolute;
            top: -16px;
            left: 0;
            background-color: #000000;
        }
    }

    &__item {
        position: relative;

        &::before {
            content: "";
            height: 1px;
            width: 49px;
            position: absolute;
            background-color: #000000;
            top: 63px;
        }

        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            margin: 0;

            h4 {
                margin: 0;
            }
        }

        &-body {
            padding: 0 0 0 43px;
            margin-top: 12px;
        }

        &-icon {
            position: absolute;
            left: 65px;
            top: 60px;

            @include before_circle;

            &:before {
                top: -14px;
                left: -16px;
            }
        }
    }

}