.title {
    font-weight: 700;
    color: #000000;

    &__fz48 {
        font-size: 48px;
        line-height: 60px;
        margin-top: 9px;
        margin-bottom: 25px;
    }

    &__fz16 {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        z-index: 1;

        &::before {
            content: '';
            width: 36px;
            height: 36px;
            position: absolute;
            background: $main-color;
            border-radius: 100%;
            top: 50%;
            left: -12px;
            transform: translateY(-50%);
            z-index: -1;
        }
    }
}