.user {

    padding-top: 115px;

    &__title {
        @include after_circle;
    }

    &__title-about {
        position: relative;
        // @include before_circle;

        &:before {
            top: -6px;
            left: -15px;
        }
    }

    &__grid {

        display: grid;
        grid-template-columns: 400px 570px;
        grid-template-rows: minmax(240px, auto) minmax(300px, auto);
        grid-auto-rows: minmax(240px, auto);
        column-gap: 68px;
        row-gap: 40px;
        grid-template-areas: 'img nam''img skils';

    }

    #img {
        grid-area: img;
    }

    #name {
        grid-area: nam;
    }

    #skils {
        grid-area: skils;
    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__skils {
        display: grid;
        grid-template-columns: repeat(2, 230px);
        grid-template-rows: minmax(100px, auto) minmax(100px, auto);
        justify-content: space-between;
        padding-left: 40px;
    }

    &__skils_wrap {
        position: relative;
        padding-left: 40px;
        // @include before_circle;

        &:before {
            left: -40px;
        }
    }

    &__skils_img {
        position: absolute;
        display: block;
        width: 25px;
        left: -22px;
        top: 16px;


    }

    &__skils_title {
        position: relative;
    }

    #user_mobil {
        width: 15px;
    }

}